:root {
  --main-font: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --main-color: #fff;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li::marker {
  content: none;
}

.limiter {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}

figure {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

html.no-smooth-scroll {
  scroll-behavior: auto;
}


.limiter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
